{{outlet}}

<p>{{model}}</p>
<p>isDirty: {{isDirty}}</p>
<p>areChildrenDirty: {{areChildrenDirty}}</p>
<p>{{input type="checkbox" checked=val}}</p>

{{#if bars.length}}
  <h2>Bars:</h2>
  <ul>
    {{#each bar in bars}}
      <li>
        <p>{{bar}}</p>
        <p>isDirty: {{bar.isDirty}}</p>
        <p>{{input type="checkbox" checked=bar.val}}</p>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if baz}}
  <h2>Baz:</h2>
  <p>{{baz}}</p>
  <p>isDirty: {{baz.isDirty}}</p>
  <p>{{input type="checkbox" checked=baz.val}}</p>
{{/if}}
