<ul>
  {{#each model.parents as |p|}}
    <li>
      <p>Parent id:   {{p.id}}</p>
      <p>Parent name: {{p.name}}</p>
      <p>Parent isStained: {{p.isStained}}</p>
      <p>Parent hasDirtyAttributes: {{p.hasDirtyAttributes}}</p>
      <p>Parent children:</p>
      <ul>
        {{#each p.children as |c|}}
          <li>
            <p>Child id:   {{c.id}}</p>
            <p>Child name: {{c.name}} {{input value=c.name}}</p>
            <p>Child isStained: {{c.isStained}}</p>
            <p>Child hasDirtyAttributes: {{c.hasDirtyAttributes}}</p>
          </li>
        {{/each}}
      </ul>
      <p>
        Parent dog:
        <select onchange={{action "changeDog" p}}>
          {{#each model.dogs as |dogChoice|}}
            <option
              value={{dogChoice.id}}
              selected={{eq p.dog.id dogChoice.id}}
            >
              {{dogChoice.id}} {{dogChoice.name}}
            </option>
          {{/each}}
        </select>
      </p>
      <div>
        <p>Dog id:   {{p.dog.id}}</p>
        <p>Dog name: {{p.dog.name}} {{input value=p.dog.name}}</p>
      </div>
    </li>
  {{/each}}
</ul>
